<?xml version="1.0"?>
<config>

	<modules>
		<AvS_Yoochoose>
			<version>1.4.4</version>
		</AvS_Yoochoose>
	</modules>

    <global>

        <models>
            <yoochoose>
                <class>AvS_Yoochoose_Model</class>
            </yoochoose>
        </models>

        <helpers>
            <yoochoose>
                <class>AvS_Yoochoose_Helper</class>
            </yoochoose>
        </helpers>

        <blocks>
            <yoochoose>
                <class>AvS_Yoochoose_Block</class>
            </yoochoose>
            <catalog>
                <rewrite>
                    <product_list_upsell>AvS_Yoochoose_Block_Upsell</product_list_upsell>
                    <product_list_related>AvS_Yoochoose_Block_Related</product_list_related>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_crosssell>AvS_Yoochoose_Block_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
        </blocks>

    </global>

    <frontend>

        <events>
            <customer_login>
                <observers>
                    <yoochoose>
                        <type>singleton</type>
                        <class>yoochoose/observer</class>
                        <method>onCustomerLogin</method>
                    </yoochoose>
                </observers>
            </customer_login>
        </events>

        <layout>
            <updates>
                <yoochoose>
                    <file>yoochoose.xml</file>
                </yoochoose>
            </updates>
        </layout>

        <translate>
            <modules>
                <AvS_Yoochoose>
                    <files>
                        <default>AvS_Yoochoose.csv</default>
                    </files>
                </AvS_Yoochoose>
            </modules>
        </translate>

    </frontend>

    <adminhtml>

        <events>
            <admin_system_config_changed_section_yoochoose>
                <observers>
                    <yoochoose>
                        <type>singleton</type>
                        <class>yoochoose/observer</class>
                        <method>adminSystemConfigChangedSectionYoochoose</method>
                    </yoochoose>
                </observers>
            </admin_system_config_changed_section_yoochoose>
        </events>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <yoochoose translate="title" module="yoochoose">
                                            <title>Yoochoose</title>
                                        </yoochoose>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <translate>
            <modules>
                <AvS_Yoochoose>
                    <files>
                        <default>AvS_Yoochoose.csv</default>
                    </files>
                </AvS_Yoochoose>
            </modules>
        </translate>

    </adminhtml>

    <default>
        <yoochoose>
            <general>
                <disabled>0</disabled>
            </general>
            <crossselling>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>cross_selling</scenario>
                <prefer_manual_connections>0</prefer_manual_connections>
                <row_count>4</row_count>
            </crossselling>
            <upselling>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>up_selling</scenario>
                <prefer_manual_connections>0</prefer_manual_connections>
                <row_count>1</row_count>
            </upselling>
            <related>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>related_products</scenario>
                <prefer_manual_connections>0</prefer_manual_connections>
                <row_count>6</row_count>
            </related>
            <bestseller>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>bestseller</scenario>
                <row_count>2</row_count>
            </bestseller>
            <personal>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>personal</scenario>
                <row_count>2</row_count>
            </personal>            
            <api>
            	<item_type>1</item_type>
            	<tracker_server>https://event.yoochoose.net</tracker_server>
            	<reco_server>https://reco.yoochoose.net</reco_server>
            	<config_server>https://config.yoochoose.net</config_server>
            </api>
        </yoochoose>
    </default>

    <crontab>
        <translate>
            <modules>
                <AvS_Yoochoose>
                    <files>
                        <default>AvS_Yoochoose.csv</default>
                    </files>
                </AvS_Yoochoose>
            </modules>
        </translate>
    </crontab>
</config>
