<?xml version="1.0"?>
<config>
    <sections>
        <yoochoose translate="label" module="yoochoose">
            <label>Yoochoose Recommendations</label>
            <tab>catalog</tab>
            <sort_order>990</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Disable extention</label>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[
                        <!--script type="text/javascript">
                            document.observe("dom:loaded", function() {
                                $('yoochoose_general_stats').replace($('yoochoose_general_stats').value);
                            });
                        </script-->
                    ]]></comment>
                    <fields>
                        <disabled translate="label">
                            <label>Disable extention</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Disables yoochoose tracking and yoochoose recommendations. If disabled, the manually entered recommendations are shown.</comment>
                        </disabled>
                        <!--stats translate="label">
                            <label>Statistics</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stats-->
                    </fields>
                </general>
                <api translate="label">
                    <label>General Settings</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <client_id translate="label,comment">
                            <label>Yoochoose Customer ID</label>
                            <comment><![CDATA[
                            	If you don't have a Customer ID yet, <a href='https://admin.yoochoose.net/login.html?product=magento_Direct&lang=en' target='_blank'>click here</a>.
                           	]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </client_id>
                        <license_key translate="label">
                            <label>Yoochoose License Key</label>
                            <comment><![CDATA[
                            	You can find your license key and detailed statistics on the <a href='https://admin.yoochoose.net' target='_blank'>Yoochoose Configuration Backend</a>.
                            ]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </license_key>
                        <license_type translate="label,comment">
                            <label>Yoochoose License Type</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>It is filled out automatically after the configuration was saved.</comment>
                        </license_type>
                        
                        <item_type translate="label,comment">
                            <label>Item Type</label>
                            <comment>Recommendation item type (in most cases 1)</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                        </item_type>
                        
                        <tracker_server translate="label,comment">
                            <label>Tracking server (read-only)</label>
                            <comment>URL to the yoochoose event tracking server.</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </tracker_server>
                        
                        <reco_server translate="label,comment">
                            <label>Recommendation server (read-only)</label>
                            <comment>URL to the yoochoose recommendation server.</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                        </reco_server>
                        
                        <config_server translate="label,comment">
                            <label>Configuration server (read-only)</label>
                            <comment>URL to the yoochoose configuration server.</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>44</sort_order>
                            <show_in_default>1</show_in_default>
                        </config_server>                         
                    </fields>
                </api>
                
                <bestseller translate="label">
                    <label>Best seller block on the home page</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <display_yoochoose_recommendations translate="label">
                            <label>Display recommendations</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_yoochoose_recommendations>
                        <scenario translate="label">
                            <label>Scenario used (read-only)</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scenario>
                        <row_count translate="label">
                            <label>Rows in the recommendation block</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The amount of the recomendations in the row is dependend on the template and usually between 3 and 6.</comment>
                        </row_count>
                    </fields>
                </bestseller>
                
                <personal translate="label">
                    <label>Personalized recommendation block on the home page</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <display_yoochoose_recommendations translate="label">
                            <label>Display recommendations</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_yoochoose_recommendations>
                        <scenario translate="label">
                            <label>Scenario used (read-only)</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scenario>
                        <row_count translate="label">
                            <label>Rows in the recommendation block</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The amount of the recomendations in the row is dependend on the template and usually between 3 and 6.</comment>
                        </row_count>
                    </fields>
                </personal>                 

                <upselling translate="label">
                    <label>Upselling block of the product details page</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <display_yoochoose_recommendations translate="label">
							<label>Recommendation source</label>
                            <frontend_type>select</frontend_type>
                            <source_model>yoochoose/source_overwritten</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If manually entered recommendations are enabled, they will be shown first in the list.</comment>
                        </display_yoochoose_recommendations>
                        <scenario translate="label">
                            <label>Scenario used (read-only)</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scenario>
                        <row_count translate="label">
                            <label>Rows in the recommendation block</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The amount of the recomendations in the row is dependend on the template and usually between 3 and 6.</comment>
                        </row_count>
                    </fields>
                </upselling>
                
                <related translate="label">
                    <label>Related products block of the product details page</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <display_yoochoose_recommendations translate="label">
							<label>Recommendation source</label>
                            <frontend_type>select</frontend_type>
                            <source_model>yoochoose/source_overwritten</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If manually entered recommendations are enabled, they will be shown first in the list.</comment>
                        </display_yoochoose_recommendations>
                        <scenario translate="label">
                            <label>Scenario used (read-only)</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scenario>
                        <row_count translate="label">
                            <label>Amount of recommended products</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </row_count>
                    </fields>
                </related>
                
                <crossselling translate="label">
                    <label>Crossselling block of the shopping basket</label>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <display_yoochoose_recommendations translate="label">
							<label>Recommendation source</label>
                            <frontend_type>select</frontend_type>
                            <source_model>yoochoose/source_overwritten</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If manually entered recommendations are enabled, they will be shown first in the list.</comment>
                        </display_yoochoose_recommendations>
                        <scenario translate="label">
                            <label>Scenario used (read-only)</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>yoochoose/field_readonly</frontend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scenario>
                        <row_count translate="label">
                            <label>Amount of recommended products</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </row_count>
                    </fields>
                </crossselling>                
            </groups>
        </yoochoose>
    </sections>
</config>
